nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  overflow: hidden;
  background: #fff3d8;
}
nav a {
  position: relative;
}
nav a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000;
  transition: 0.4s ease;
}
nav a:hover {
  color: pink;
}
nav a:hover:after {
  width: 100%;
  left: 0;
  background: #000;
}
nav .nav-columns {
  transform: translateY(125px);
  display: flex;
  padding: 0 32px;
}
@media (max-width: 654px) {
  nav .nav-columns {
    flex-direction: column;
  }
}
@media (max-width: 654px) and (max-width: 425px) {
  nav .nav-columns {
    padding: 0 16px;
  }
}
nav .nav-columns .nav-column {
  width: 45%;
}
@media (max-width: 654px) {
  nav .nav-columns .nav-column {
    width: 100%;
  }
}
nav .nav-columns .nav-column:last-child {
  width: 55%;
}
@media (max-width: 654px) {
  nav .nav-columns .nav-column:last-child {
    width: 100%;
  }
}
nav .nav-columns .nav-column .nav-label {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
}
@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 0.875rem;
    margin-bottom: 1.2rem;
  }
}
nav .nav-columns .nav-column .nav-infos {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 654px) {
  nav .nav-columns .nav-column .nav-infos {
    justify-content: space-between;
  }
}
nav .nav-columns .nav-column .nav-infos .nav-info {
  padding: 0;
  width: 50%;
}
@media (max-width: 654px) {
  nav .nav-columns .nav-column .nav-infos .nav-info:nth-child(2),
  nav .nav-columns .nav-column .nav-infos .nav-info:nth-child(3) {
    display: none;
  }
}
nav .nav-columns .nav-column .nav-infos .nav-info .nav-info-label {
  font-weight: 600;
}
nav .nav-columns .nav-column .nav-infos .nav-info li {
  font-weight: 300;
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-infos .nav-info li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-infos .nav-info li {
    font-size: 1rem;
    margin-bottom: 0.875rem;
  }
}
nav .nav-columns .nav-column .nav-infos .nav-info li a {
  text-decoration: none;
  color: #000;
}
nav .nav-columns .nav-column .nav-links {
  padding: 0;
  margin: 0;
}
nav .nav-columns .nav-column .nav-links li {
  list-style: none;
  margin-bottom: 2.4rem;
}
@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-links li {
    margin-bottom: 1.6rem;
  }
}
nav .nav-columns .nav-column .nav-links li a {
  font-weight: 600;
  font-size: 2.8rem;
  text-decoration: none;
  color: #000;
}
@media (max-width: 425px) {
  nav .nav-columns .nav-column .nav-links li a {
    font-size: 2rem;
  }
}
